.header-middle{
	padding-top: 70px;
}

.header-site-name{
	text-align: center;
	a{
		font-size: 2rem;
		line-height: 2rem;
		color: #444444;
		letter-spacing: .25px;
		&:hover{
			text-decoration: none;
		}
		h1{
			font-size: 2rem;
			line-height: 2rem;
			color: #444444;
			letter-spacing: .25px;
		}
	}
	h1{
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: 2rem;
		line-height: 2rem;
		color: #444444;
		letter-spacing: .25px;
		a{
			font-size: 2rem;
			line-height: 2rem;
			color: #444444;
			letter-spacing: .25px;
		}
	}
}
.header-site-slogan{
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	color: #444444;
	margin-top: 10px;
	margin-bottom: 12px;
}

@media (min-width: 992px){
	.header-site-name{
		text-align: left;
		a{
			font-size: 2.625rem;
			line-height: 1.875rem;
			color: #444444;
			letter-spacing: .25px;
			&:hover{
				text-decoration: none;
			}
		}
		h1{
			font-size: 2.625rem;
			line-height: 1.875rem;
			letter-spacing: .25px;
			a{
				font-size: 2.625rem;
				line-height: 1.875rem;
				letter-spacing: .25px;
			}
		}
	}
	.header-site-slogan{
		text-align: left;
		font-size: 1.125rem;
		line-height: 1.6875rem;
	}
}