.event-footer{
	margin-top: 25px;
	.event-author{
		font-weight: bold;
		font-size: 1rem;
		color: #767676;
	}
	.event-date{
		font-weight: bold;
		font-size: 1rem;
		color: #767676;
		text-transform: lowercase;
	}
}