.event-body{
	padding-top: 35px;
	h3{
		font-size: 1rem;
		font-weight: bold;
		color: #626262;
		line-height: 1.4375rem;
		margin-top: 15px;
	}
	p{
		font-size: 1rem;
		color: #626262;
		line-height: 1.4375rem;
		margin-top: 15px;
	}
	.event-body-banner{
		float: right;
		margin-left: 10px;
	}
	hr{
		border: none;
		border-top: 2px solid #ffb806;
	}
}