/* line 1, ../../sass/header/header-search-result.scss */
.header-search-result {
  margin-top: 18px;
  background: #eaecef;
  padding: 0 14px 14px 14px;
  border-radius: 50px;
  padding-right: 160px;
  position: relative;
  min-height: 54px;
}

/* line 11, ../../sass/header/header-search-result.scss */
.header-search-result-inner {
  width: 100%;
}

/* line 15, ../../sass/header/header-search-result.scss */
.filter-reset {
  width: 140px;
  text-align: right;
  position: absolute;
  right: 14px;
  top: 14px;
}
